@model UI.Models.Course.CourseViewModel

@using (Html.BeginForm("Create", "Course", FormMethod.Post, new { Id = "frmCreate" }))
{
	<div id="createCourseForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createCourseForm" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title">Ders Ekleme</h6>
					<button id="closeCreateModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form>
						<fieldset>
							<div class="form-group">
								<label>Ders İsmi</label>
								<input type="text" name="Name" placeholder="Lütfen ders ismini giriniz" class="form-control small-input" id="name" />
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="btn-group">
						<button type="submit" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Kaydet</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<script>
	$('#closeCreateModal').click(function () {
		$('#ModalCreate').modal('hide');
	});
</script>
