@model UI.Models.Course.CourseViewModel

@using (Html.BeginForm("Update", "Course", FormMethod.Post, new { Id = "frmUpdate" }))
{
	<div id="updateCourseForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateCourseForm" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title">Ders Güncelleme</h6>
					<button id="closeUpdateModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form>
						<fieldset>
							<div class="form-group">
								<label>Ders İsmi</label>
								<input type="text" name="Name" value="@Model.Name" placeholder="Lütfen ders ismini giriniz" class="form-control small-input" id="name" />
								<input type="text" name="Id" value="@Model.Id" class="form-control small-input" id="id" style="display:none;" />
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="btn-group">
						<button type="submit" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Güncelle</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<script>
	$('#closeUpdateModal').click(function () {
		$('#ModalUpdate').modal('hide');
	});
</script>
