@model UserViewModel;
@using UI.Constants;
@using UI.Models.User;
@using Entity.Domain.ApplicationUser;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@{
    if (User.Identity.IsAuthenticated)
    {
        ViewBag.UserId = _userManager.GetUserAsync(User).Result.Id;
    }
}

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
	<div id="createUserForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createUserForm" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title">Öğrenci Ekleme</h6>
					<button id="closeCreateModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form>
						<fieldset>
							<div class="form-group">
								<label>Ad</label>
								<input type="text" name="FirstName" placeholder="Lütfen kullanıcı adını giriniz" class="form-control small-input" required />
								<label>Soyad</label>
								<input type="text" name="LastName" placeholder="Lütfen kullanıcı soyadını giriniz" class="form-control small-input" required />
								<label>TC Kimlik Numarası</label>
								<input type="text" name="IdentityNumber" pattern="[0-9]{11}" title="Lütfen kimlik numarasını 11 hane giriniz" placeholder="Lütfen kullanıcı kimlik numarasını giriniz" class="form-control small-input" required />
								<label>Telefon Numarası</label>
								<input type="text" name="PhoneNumber" pattern="[5][0-9]{9}" title="Lütfen telefon numarasını başında 0 olmadan 10 karakter giriniz" placeholder="Lütfen kullanıcı telefon numarasını başında sıfır olmadan giriniz" class="form-control small-input" required />
								<label>E-Mail Adresi</label>
								<input type="email" name="EMail" title="Lütfen e-mail'i doğru formatta giriniz" placeholder="Lütfen kullanıcı e-postasını giriniz" class="form-control small-input" required />
								<label>Şifre</label>
								<input type="password" name="Password" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])\S{6,}" title="Lütfen şifreyi doğru formatta giriniz" placeholder="Lütfen kullanıcının şifresini giriniz" class="form-control small-input" required />
								<label>Cinsiyet</label>
								<div class="form-floating mb-3">
									<input checked type="radio" value="1" name="Gender" />Erkek<br />
									<input type="radio" value="0" name="Gender" />Kadın<br />
								</div>
								<div class="form-floating mb-3">
									<input checked type="radio" value="1" name="Role" />Öğrenci<br />
									<input type="radio" value="0" name="Role" />Öğretmen<br />
									<input type="radio" value="2" name="Role" />Admin<br />
								</div>
								<input type="text" name="InsertedUser" value="@ViewBag.UserId" hidden/>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="btn-group">
						<button type="submit" class="btn btn-sm btn-outline-secondary">Kaydet</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<script>
	$('#closeCreateModal').click(function () {
		$('#ModalCreate').modal('hide');
	});

	$("input[name=Role]").change(function (e) {
		var role = e.target.value;
		role === "0" ? $("#role").val("0") : (role === "1" ? $("#role").val("1") : $("#role").val("2"))
	})

	$("input[name=Gender]").change(function (e) {
		var gender = e.target.value;
		gender === "1" ? $("#gender").val("1") : $("#gender").val("0")
	})
</script>
