@using Entity.Domain.ApplicationUser;
@model IEnumerable<ApplicationUser>
<link rel="stylesheet" href="~/css/general.css" />

<div class="row">
	<div id="content-wrapper">
		<div class="container-fluid">
			<h2>Öğrenci Oluşturma</h2>
			@Html.Partial("_DataGrid", Model)
		</div>
	</div>
</div>


<div id="ModalCreate" class="modal fade" role="dialog"></div>
<div id="ModalUpdate" class="modal fade" role="dialog"></div>
<div id="ModalDelete" class="modal fade" role="dialog"></div>

<script type="text/javascript">

	function openCreateModal() {
		$.ajax({
			type: 'GET',
			url: '/User/_Create',
			success: function (data) {
				$("#ModalCreate").html(data);
				$("#createUserForm").modal('show');
				$("#ModalCreate").modal('show');
			}
		});
	}

	function openUpdateModal(id) {
		$.ajax({
			type: 'GET',
			url: '/User/_Update',
			data: { id: id },
			success: function (data) {
				$("#ModalUpdate").html(data);
				$("#updateUserForm").modal('show');
				$("#ModalUpdate").modal('show');
			}
		});
	}

	function openDeleteModal(id) {
		$.ajax({
			type: 'GET',
			url: '/User/_Delete',
			data: { id: id },
			success: function (data) {
				$("#ModalDelete").html(data);
				$("#deleteUserForm").modal('show');
				$("#ModalDelete").modal('show');
			}
		});
	}

</script>



