@page
@model RegisterModel
@{
    ViewData["Title"] = "Kullanıcı Kaydı";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="~/" method="post">
            <h2 align="center">Yeni bir kullanıcı oluştur.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Name" />
                <label asp-for="Input.FirstName">AdıX</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Name" />
                <label asp-for="Input.LastName">SoyadıX</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.IdentityNumber" class="form-control" aria-required="true" placeholder="Name" />
                <label asp-for="Input.IdentityNumber">Kimlik NoX</label>
                <span asp-validation-for="Input.IdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">EmailX </label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">PasswordX</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm PasswordX</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input checked type="radio" value="1" name="Role" />Öğrenci<br />
                <input type="radio" value="0" name="Role" />Öğretmen<br />
            </div>
            <input asp-for="Input.RoleId" hidden class="form-control" value="1" id="role" />
            <div class="form-floating mb-3">
                <input checked type="radio" value="1" name="Gender" />Erkek<br />
                <input type="radio" value="0" name="Gender" />Kadın<br />
            </div>
            <input asp-for="Input.Gender" hidden class="form-control" value="1" id="gender" />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Kaydet</button>
            <input asp-for="Input.IsVerify" value="1" class="form-control" hidden/>
            <input asp-for="Input.IsActive" value="1" class="form-control" hidden/>
            <input asp-for="Input.InsertedUser" value="UIAdmin" class="form-control" hidden/>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $("input[name=Role]").change(function(e){
        var role = e.target.value;
        role === "0" ? $("#role").val("0") : $("#role").val("1")
    })

    $("input[name=Gender]").change(function (e) {
        var gender = e.target.value;
        gender === "1" ? $("#gender").val("1") : $("#gender").val("0")
    })

</script>