@model IEnumerable<UI.Models.Question.QuestionViewModel>
<link rel="stylesheet" href="~/css/general.css" />

<div class="row">
	<div id="content-wrapper">
		<div class="">
			<h2>Soru Oluşturma</h2>
			@Html.Partial("_DataGrid", Model)
		</div>
	</div>
</div>


<div id="ModalCreate" class="modal fade" role="dialog"></div>
<div id="ModalUpdate" class="modal fade" role="dialog"></div>
<div id="ModalDelete" class="modal fade" role="dialog"></div>

<script type="text/javascript">

	function openCreateModal() {
		$.ajax({
			type: 'GET',
			url: '/QuestionManagement/_Create/' + "?id=" + @ViewBag.ExamId,
			success: function (data) {
				$("#ModalCreate").html(data);
				$("#createQuestionForm").modal('show');
				$("#ModalCreate").modal('show');
			}
		});
	}
</script>



