@model IEnumerable<UI.Models.ExamStudent.ExamStudentViewModel>
<div class="row">
	<div id="content-wrapper">
		<div class="container-fluid">
			<h2>Ders Oluşturma</h2>
			@Html.Partial("_DataGrid", Model)
		</div>
	</div>
</div>


<div id="ModalCreate" class="modal fade" role="dialog"></div>
<div id="ModalUpdate" class="modal fade" role="dialog"></div>
<div id="ModalDelete" class="modal fade" role="dialog"></div>

<script type="text/javascript">

	$(document).ready(function () {
		var x = '@(TempData["ErrorMessage"])';
		if (x != null) {
			console.log(x);
		}

	});

	function openCreateModal() {
		$.ajax({
			type: 'GET',
			url: '/ExamStudent/_Create',
			success: function (data) {
				$("#ModalCreate").html(data);
				$("#createExamStudentForm").modal('show');
				$("#ModalCreate").modal('show');
			}
		});
	}

	function openUpdateModal(id) {
		$.ajax({
			type: 'GET',
			url: '/ExamStudent/_Update',
			data: { id: id },
			success: function (data) {
				$("#ModalUpdate").html(data);
				$("#updateExamStudentForm").modal('show');
				$("#ModalUpdate").modal('show');
			}
		});
	}

	function openDeleteModal(id) {
		$.ajax({
			type: 'GET',
			url: '/ExamStudent/_Delete',
			data: { id: id },
			success: function (data) {
				$("#ModalDelete").html(data);
				$("#deleteExamStudentForm").modal('show');
				$("#ModalDelete").modal('show');
			}
		});
	}

</script>



